<section class="footer">
  <div class="link">
    <img class="icone" src="assets/imagens/github.png" alt="log pokemon">
    <a href="https://github.com/inaciofabricio" target="_blank" class="a">
      @inaciofabricio
    </a>
  </div>
  <div class="link">
    <img class="icone" src="assets/imagens/pokeapi.png" alt="log pokemon">
    <a href="https://pokeapi.co/" target="_blank" class="a">
      PokéApi
    </a>
  </div>
  <div class="link">
    <img class="icone" src="assets/imagens/angular.svg" alt="log angular">
    <a href="https://angular.io/" target="_blank" class="a">
      Angular
    </a>
  </div>
</section>
