<section class="container">
  <table mat-table [dataSource]="pokemons" class="mat-elevation-z8 table">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="position-th"> No. </th>
      <td mat-cell class="td-center" *matCellDef="let pokemon"> {{ pokemon.id }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="name-th"> Nome </th>
      <td mat-cell *matCellDef="let pokemon"> {{ pokemon.name }} </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef class="details-th"> Detalhes </th>
      <td mat-cell class="td-center" *matCellDef="let pokemon">
        <mat-icon routerLink="/detalhes/{{pokemon.id}}">search</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="botoes">
    <button
      mat-flat-button color="accent"
      (click)="anteriorPagina()" [disabled]="!page?.previous">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <span>{{ page?.page }} ... {{ page?.pages }}</span>
    <button
      mat-flat-button color="accent"
      (click)="proximaPagina()" [disabled]="!page?.next">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</section>
